## lorax template file: populate the ramdisk (runtime image)
<%page args="basearch, product"/>

## anaconda package
installpkg anaconda-tui
## anaconda deps that aren't in the RPM
installpkg tmux
## Other available payloads
installpkg microdnf

## kernel and firmware
installpkg kernel kernel-modules
installpkg grubby

## arch-specific packages (bootloaders etc.)
%if basearch == "aarch64":
    installpkg efibootmgr grub2-efi-aa64-cdboot grubby shim-aa64
%endif
%if basearch in ("arm", "armhfp"):
    installpkg kernel-lpae
    installpkg uboot-tools
%endif
%if basearch == "i386":
    installpkg kernel-PAE gpart
%endif
%if basearch == "x86_64":
    installpkg grub2-tools-efi
    installpkg efibootmgr
    installpkg shim-x64 grub2-efi-x64-cdboot
    installpkg shim-ia32 grub2-efi-ia32-cdboot
%endif
%if basearch in ("i386", "x86_64"):
    installpkg biosdevname memtest86+ syslinux
%endif
%if basearch in ("ppc", "ppc64", "ppc64le"):
    installpkg fbset hfsutils kernel-bootwrapper powerpc-utils-core
    installpkg grub2-tools grub2-tools-minimal grub2-tools-extra
    installpkg grub2-${basearch}
%endif
%if basearch == "s390x":
    installpkg lsscsi s390utils-base s390utils-cmsfs-fuse
%endif

## extra dracut modules
installpkg anaconda-dracut dracut-network dracut-config-generic dracut-fips

## required for dracut
installpkg kbd kbd-misc
## required for anaconda-dracut (img-lib etc.)
installpkg tar xz curl bzip2

## filesystem tools
installpkg xfsprogs

## SELinux support
installpkg selinux-policy-targeted

## network tools/servers
installpkg nfs-utils

## actually install all the requested packages
run_pkg_transaction
