## lorax template file: populate the ramdisk (runtime image)
<%page args="basearch, product"/>

## anaconda package
installpkg anaconda-tui
## anaconda deps that aren't in the RPM
installpkg tmux
## Other available payloads
installpkg microdnf

## kernel and firmware
installpkg kernel kernel-modules
installpkg grubby

## arch-specific packages (bootloaders etc.)
%if basearch == "aarch64":
    installpkg efibootmgr grub2-efi grub2-efi-modules grub2-tools shim shim-unsigned
%endif
%if basearch in ("arm", "armhfp"):
    installpkg kernel-lpae
    installpkg uboot-tools
%endif
%if basearch == "i386":
    installpkg kernel-PAE gpart
%endif
%if basearch == "x86_64":
    installpkg efibootmgr grub2-efi grub2-efi-modules shim shim-unsigned
%endif
%if basearch in ("i386", "x86_64"):
    installpkg grub2 grub2-tools memtest86+ syslinux syslinux-nonlinux
%endif
%if basearch in ("ppc", "ppc64", "ppc64le"):
    installpkg grub2 grub2-tools fbset hfsutils kernel-bootwrapper ppc64-utils
%endif
%if basearch == "s390x":
    installpkg lsscsi s390utils-base s390utils-cmsfs-fuse
%endif

## extra dracut modules
installpkg anaconda-dracut

## required for dracut
installpkg kbd kbd-misc
## required for anaconda-dracut (img-lib etc.)
installpkg tar xz curl bzip2

## filesystem tools
installpkg xfsprogs

## SELinux support
installpkg selinux-policy-targeted

## network tools/servers
installpkg nfs-utils

## actually install all the requested packages
run_pkg_transaction
